.header {
  display: flex;
  border: 1px solid red;
  flex: 0.7;
  align-items: center;
  justify-content: space-around;
  max-height: 40px;
  max-width: 70%;
  border: 2px solid whitesmoke;
  border-radius: 5px;
}
input {
  outline: none;
  background-color: transparent;
  border: none;
  border-bottom: 3px solid whitesmoke;
  padding: 12px 3px;
}
